@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poor Story", system-ui;
}

hr {
  border: none;
}

.introTitle > span {
  display: block;
  margin-top: 10px;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* hr {
  border: 1px solid black;
} */

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}
