* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: none;
}

.introTitle {
  /* display: flex; */
}

.introTitle > span {
  display: block;
  margin-top: 10px;
}

a {
  color: #000;
  text-decoration: none;
}
