@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poor Story", system-ui;
}

hr {
  border: none;
}

.introTitle > span {
  display: block;
  margin-top: 10px;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* hr {
  border: 1px solid black;
} */

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}

/* react-calendar */

.react-calendar__tile--now,
.react-calendar__tile--active {
  border-radius: 50%;
}

.react-calendar__tile {
  width: 50px;
  height: 50px;
}

.react-calendar__tile--active {
  background-color: rgb(45, 186, 163) !important;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 16px;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
}
