.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main > img {
  animation: 3s 1s infinite bounce;
}

.angleIcon {
  position: absolute;
  bottom: 5px;
  opacity: 0.6;
  animation: 2s infinite bounce;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.intro {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  height: 100vh;
  background-image: url("https://sema.seoul.go.kr/common/imgFileView?FILE_ID=842765");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* visitSection */

.visitSection {
  width: 100%;
}

.cardWrapper {
  position: relative;
  max-width: 1000px;
  height: 1200px;
  margin: auto;
}

@media screen and (min-width: 1300px) {
  .cardWrapper {
    transform: translateX(150px);
  }
}
