.container {
  width: 100%;
  height: 1200px;
  padding-top: 90px;
}

.detailWrapper {
  max-width: 1300px;
  display: flex;
  align-items: center;
  margin: auto;
}

.detail {
  margin-left: 30px;
}

.detail > p {
  font-size: 20px;
  margin-top: 10px;
}

.detail > p > span {
  font-size: 16px;
}
