/* .container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
  border-right: 1px solid #cdcdcd;
}

.navLogo {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem {
  padding: 0px 20px;
  margin-top: 30px;
}

.navList {
  font-size: 25px;
  font-weight: 700;
}

.navList > li {
  margin-top: 20px;
  cursor: pointer;
}

.navScroll {
  transition: all 0.4s;
  color: #a8a8a8;
}

.navScroll:hover {
  color: #000;
}

.navLink {
  color: #000;
}

@media screen and (max-width: 980px) {
  .container {
    display: none;
  }
} */

/* topNav */
.topNav {
  border-bottom: 1px solid #cacaca;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  padding: 3px 0px;
  transition: all 0.3s;
}

.whiteTop {
  background-color: #fff;
}

.topNavWrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.topNavLogo {
  cursor: pointer;
}

.topNavList {
  display: flex;
  font-size: 18px;
  gap: 15px;
}
