.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  position: fixed;
  z-index: 5;
  background-color: #fff;
  border-right: 1px solid #cdcdcd;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.showNav {
  opacity: 1;
  visibility: visible;
}

.navLogo {
  padding: 5px 10px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem {
  padding: 0px 20px;
  margin-top: 30px;
}

.navList {
  list-style: none;
  font-size: 25px;
  font-weight: 700;
}

.navList > li {
  margin-top: 20px;
  cursor: pointer;
}

.navScroll {
  transition: all 0.4s;
  color: #a8a8a8;
}

.navScroll:hover {
  color: #000;
}

.navLink {
  color: #000;
}

@media screen and (max-width: 980px) {
  .container {
    display: none;
  }
}
