.collectionList {
  max-width: 900px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  /* overflow-x: hidden; */
}

@media screen and (min-width: 1400px) {
  .collectionList {
    max-width: 1300px;
    gap: 20px;
  }
}

.searchOption {
  width: 120px;
  height: 60px;
  font-style: 20px;
  outline: none;
  border-radius: 15px;
  margin-right: 5px;
}

.searchBar {
  width: 600px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 400px;
  height: 60px;
  outline: none;
  padding: 0px 10px;
  font-size: 18px;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.searchBtn {
  width: 80px;
  height: 60px;
  cursor: pointer;
  background-color: #666666;
  border: none;
  color: #fff;
  font-size: 18px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pageBtn {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pageBtn > span {
  cursor: pointer;
}
