.container {
  margin-top: 50px;
  width: calc(100% - 320px);
  transform: translateX(320px);
  padding: 5px;
}

.collectionTitle {
  font-size: 32px;
  margin-bottom: 20px;
}

.colWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.imgInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-left: 20px;
}

.imgYear {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
}
